@import url(https://fonts.google.com/specimen/Red+Hat+Text);

:root {
  --color-grayish-blue: hsl(237, 18%, 59%);
  --color-soft-red: hsl(345, 95%, 68%);
  --color-white: hsl(0, 0%, 100%);
  --color-dark-desaturated-blue: hsl(236, 21%, 26%);
  --color-very-dark-blue: hsl(235, 16%, 14%);
  --color-very-very-dark-blue: hsl(234, 17%, 12%);
}

*{
  box-sizing: border-box;
}

html{
  font-family: 'Red Hat Text', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background-image: url(assets/images/pattern-hills.svg), url(assets/images/bg-stars.svg);
  background-repeat: no-repeat, repeat;
  background-position: 0% 100%, 0 0;
  background-size: 100vw 30vh, auto auto;
  background-color: var(--color-very-dark-blue);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  border: 1px solid green;
  height: 90%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}